body {
  font-family: Arial, sans-serif;
  background-color: #ebe0f5;
  color: #333;
  margin: 40px;
}

h1, h2 {
  color: #7a33cc;
}

.section {
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.highlight {
  font-weight: bold;
}

.profile-img {
  display: block;
  margin: 0 auto 20px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}